/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
* zoobe list css
*/
img, video {
    max-width: 100%;
    height: auto;
}

div.zoobe-list div.category-tab p {
    margin: 5px 10px; 
    font-style: italic;
    border-top: 1px solid #ffffff;
    display: inline-block;
    font-size: 16px;
}

div.zoobe-list ul,
div.zoobe-list ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

div.zoobe-list ul li {
	padding: 10px;
	background-color: white;
	box-shadow: 2px 2px 0px #999999;
	margin: 0px 20px 15px 20px;
}

div.zoobe-list ul li div.holder {
    background-color: #ffffff;
    /*    box-shadow: 2px 2px 0px #999999;*/
    margin: 15px;
}

div.zoobe-list ul li div.video-holder {
    text-align: center;
}

div.zoobe-list ul li div.video-footer {
    margin: 10px 0;
}

div.zoobe-list ul li div.video-footer {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

div.zoobe-list ul li div.video-footer p {
    padding: 0;
    margin: 0px 5px 0px 0px;
    display: inline-block;
}

div.zoobe-list ul li div.video-footer div.title {
    padding: 10px 5px;
    font-size: 16px;
}

div.zoobe-list ul li div.video-footer p.likes {
    background: #ffffff;
    font-size: 11px;
    line-height: 18px;
    position: absolute;
    right: 0;
    padding-bottom: 20px;
    height: 40px;
    width: 35px;
    text-align: center;
}

div.zoobe-list ul li div.video-footer p img {
    width: 32px;
}

div.zoobe-list ul li div.video-footer p.likes img {
    width: 20px;
}

div.pagination {
	text-align: center;
	display: block;
}

div.pagination a,
div.pagination a:link {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 3px 5px;
	background: #428bca;
	color: #ffffff;
}

div.pagination a:hover,
div.pagination a:visited,
div.pagination a:active {
	text-decoration: none;
	background: #ffffff;
	color: #428bca;
}