<h1 class="page-header">Select User</h1>
<div class="form-inline">
	<select class="form-control" style="margin-right: 10px;" ng-model="user">
		<option>-- Select User --</option>
		<option value="5eeec3d0-2418-46dd-a108-28a8bd4c6b39">User 1</option>
		<option value="EF0D0040-1785-4A1D-8168-0C072573C93E">User 2</option>
		<option value="2a887138-076d-4d45-975f-abd12f82b2ef">User 3</option>		
		<option value="0d9d0334-08e6-445d-9998-527ef4a3e9ca">User 4</option>
		<option value="1087f6ff-2667-4722-87c1-74c0b8e97024">User 5</option>
		<option value="148c42b9-1a5b-477d-85c4-331cd39c75dc">User 6</option>
		<option value="5d6be06f-0f43-426b-855b-d8b9860390d5">User 7</option>
		<option value="591d6cac-aedd-4ee6-97f4-6a023dc04cd0">User 8</option>
		<option value="4c3ba0fa-406e-42d3-bc2f-2ea37da5b214">User 9</option>
		<option value="44af39df-d7f2-4706-abae-16ec7ab9ddf1">User 10</option>
		<option value="3e9e169b-6040-44f0-91fc-8a7897bc088d">User 11</option>
		<option value="3c57660c-c105-4347-95cd-e49280af9c91">User 12</option>
		<option value="2ecddadc-435d-49dc-bea7-aa20b1078382">User 13</option>		
		<option value="d4779459-7816-4abf-a7fa-712ce77eb395">User 14</option>
		<option value="e212223b-9a6e-40cc-b4c6-8c22d9da69c5">User 15</option>
		<option value="296e4feb-e4eb-487c-862f-9fd213d79629">User 16</option>
		<option value="2a066c9e-38e4-4840-9f87-0fb90bbbbe29">User 17</option>
		<option value="2be69cbf-d7d9-430d-b952-d0509dd78f39">User 18</option>		
		<option value="8d58e911-e2ae-4358-aeea-834105cec996">User 19</option>
		<option value="a20f9657-24dc-4e8a-a7c6-ea7942015824">User 20</option>
		<option value="a2f08952-96a1-442e-bb33-4827a1446515">User 21</option>
		<option value="a87aae87-d431-41b1-ad9c-3ac2ad1d5f8a">User 22</option>
		<option value="d7d4c453-efca-4141-b9c9-26f227845244">User 23</option>		
		<option value="da6c3085-0bca-4859-83f1-7e49f056a7f3">User 24</option>
		<option value="cbe2c7e0-1126-4132-9fe7-8673b6447266">User 25</option>
	</select>
	<input class="btn btn-default" type="button" ng-click="selectUser(user)" value="Enter">
</div>
