<h1 class="page-header">Recommended Videos</h1>
<div class="zoobe-list">
    <ul class="row">
        <li ng-repeat="video in recommendations" style="float:left; width: 28%">
            <div class="video-holder">
                <video ng-src="{{ secureUrl(video.urls.file) }}" poster="{{ thumbURL(video.urls.thumb, video) }}" controls></video>
				<!--<img ng-src="{{ thumbURL(video.urls.thumb, video) }}">-->
            </div>
            <div class="video-footer">
                <div class="title">{{video.title || "&nbsp;"}}</div>
                <div class="socials">
                    <p>
                        <a href="javascript:void(0);"><img src="public/img/fb_64_normal.png"></a>
                    </p>
                    <p>
                        <a href="javascript:void(0);"><img src="public/img/gplus_64_normal.png"></a>
                    </p>
                    <p class="likes">
                        <img title="Likes" src="public/img/like_mini.png">
                        <br/>{{video.nbrOfLikes}}
                    </p>
                </div>
            </div>
			<div ng-if="($index+1)%3 == 0" style="clear:both; height: 2px"></div>
        </li>
    </ul>    
</div>