<div>
	<div ng-include="'views/partials/main/login.partial.html'" ng-if="view == 'main'"></div>
	<div ng-include="'views/partials/main/videos.partial.html'" ng-if="view == 'videos'"></div>
	<div ng-include="'views/partials/main/recommended.partial.html'" ng-if="view == 'recommend'"></div>
</div>