<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Zoobe - Public Videos</title>

    <!-- Bootstrap -->
    <link href="public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Site main style -->
	<link href="public/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="public/bootstrap/js/bootstrap.min.js"></script>
	
	<!-- angularjs library -->
	<script src="http://code.angularjs.org/1.2.7/angular.js"></script>	
	<script src="http://code.angularjs.org/1.2.7/angular-route.js"></script>	
	<script src="http://code.angularjs.org/1.2.7/angular-resource.js"></script>
	
	<script src="app/libs/restAPI.js"></script>
	<script src="app/config.js"></script>
	<script src="app/app.js"></script>
	<script src="app/controllers/mainController.js"></script>
  </head>
  <body ng-app="thesisworkApp">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>            
          </button>
          <a class="navbar-brand" href="#">Zoobe - Public</a>
        </div>
        <!--<div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">            
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>-->
      </div>
    </nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">				
				<ul class="nav nav-sidebar">
					<li ng-class="view == 'videos' ? 'active' : ''"><a href="javascript:void(0);" ng-click="getVideos(0)">Videos</a></li>
					<li ng-class="view == 'recommend' ? 'active' : ''"><a href="javascript:void(0);" ng-click="getRecommendations()">Recommended Videos</a></li>					
				</ul>	
				<ul class="nav nav-sidebar">
					<li ng-if="view != 'main'">
						<div class="col-md-12">
							<p><b>Profile</b></p>
							<div class="col-md-12">
								<p>UserID: {{userDetails.userId}}</p>
								<p>Gender: {{userDetails.gender}}</p>
								<p>Language: {{userDetails.language}}</p>
							</div>
						</div>
					</li>
				</ul>				
				<ul class="nav nav-sidebar">
					<li ng-if="view != 'main'"><a href="javascript:void(0);" ng-click="logout()">Logout</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div ng-view></div>
			</div>
		</div>
	</div>    
  </body>
</html>